:root {
  --spring-dark: rgb(162, 209, 73);
  --spring-light: rgb(170, 215, 81);
  --summer-dark: rgb(255, 218, 0);
  --summer-light: rgb(255, 232, 0);
  --autumn-dark: rgb(197, 60, 9);
  --autumn-light: rgb(250, 111, 4);
  --winter-dark: rgb(35, 119, 164);
  --winter-light: rgb(80, 163, 198);
}

body,
html {
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.page-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* Let Game Content Stretch */
.game-wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

/* Header */
.game-header {
  background-color: #4a752c;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.game-header-dropdown {
  position: relative;
}

.game-header-dropdown-button {
  border: none;
  padding: 5px;
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
}

.game-header-dropdown-list {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: white;
  width: 120px;
  border-radius: 5px;
  box-shadow: 0 0 15px black;
  display: none;
}

.game-header-dropdown-list-entry {
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.game-header-dropdown-list-entry img {
  margin-right: 5px;
}

.not-selected {
  padding-left: 30px;
}

.header-item {
  display: flex;
  align-items: center;
  background-color: lightcyan;
  border-radius: 5px;
  padding: 5px;
}

.header-item img {
  margin-right: 10px;
}

.header-item-text {
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Game Content */
.game-content {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.game-row {
  display: flex;
}

.game-cell {
  height: 50px;
  width: 50px;
  background-color: var(--spring-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400px;
  font-size: 30px;
}

.game-row:nth-of-type(odd) .game-cell:nth-of-type(odd),
.game-row:nth-of-type(even) .game-cell:nth-of-type(even) {
  background-color: var(--spring-light);
}

.game-cell.open {
  background-color: rgb(215, 184, 154);
}

.game-row:nth-of-type(odd) .game-cell:nth-of-type(odd).open,
.game-row:nth-of-type(even) .game-cell:nth-of-type(even).open {
  background-color: rgb(229, 194, 159);
}

.game-cell:hover {
  filter: brightness(125%);
}

.one {
  color: rgb(25, 118, 210);
}

.two {
  color: rgb(56, 142, 59);
}

.three {
  color: rgb(211, 47, 46);
}

.four {
  color: rgb(123, 31, 162);
}

.five {
  color: rgb(255, 143, 2);
}

.six {
  color: black;
}
